<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Subtitle</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<% @compositions.each do |composition| %>
			<tr>
				<td><%= composition.title %></td>
				<td><%= composition.subtitle %></td>
				<td><%= link_to "Edit", edit_composition_path(composition) %>
				<td><%= link_to "Delete", composition_path(:id => composition.id), :confirm => "Are you sure?", :method => :delete %>
			</tr>
		<% end %>
	</tbody>
</table>
<br /><br />
<%= link_to "New", new_composition_path %>